@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Roboto+Condensed:wght@500&display=swap');

/* todoCounter.css */

/* todoCounter.css */

.content_titles {
  position: relative;
  left: 800px;
  top: 200px;
  margin: 0;
  }
  
  .title {
    font-size: 24px; 
    
  }

  .Build {
    color: white;
    font-size: 70px;
    padding-right: 100px;
  }

  .List {
    font-size: 40px;
    color: white;
  }
  
  h1 , h2 {
    margin: 0;
    font-size: 18px;
  }
  span {
    font-weight: bold; 
  }

  /* Estilos de los titles */
  .To-Do {
    font-size: 45px;
    color: chocolate;
  }

  /*Todos Really*/

  h1 {
    position: relative; 
    top: 35px;
    font-size: 25px;
    color: white;
  }

  .completed_total {
    color: brown;
    font-size: 30px;
  }
@media screen  and (max-width: 390px) {
    h1 {
        padding-top: 20px;
       padding-left: 45px;
        max-width: 300px;
    }
}